:root {
  --pink: #f14e95;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  min-height: 4000px;
  /* background-image: url(../img/flora-pattern2.png); */
  /* background-image: url(../img/FGM_1056.jpg); */
  /* background-size: cover; */
}

/* Hero */

.hero {
  min-height: 100vh;
  background-color: black;
  background-image: url(../img/FGM_1056.jpg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 50% 70%;
}

.hero h1 {
  font-family: "Great Vibes", cursive;
  font-size: 6rem;
}

.hero h4 {
  font-size: 1.6rem;
}

.hero h1,
.hero h4 {
  text-shadow: var(--shadow);
}

.hero a {
  color: var(--pink);
  background-color: white;
  font-size: small;
}

.hero a:hover {
  background-color: var(--pink);
  color: white;
  font-size: small;
}

/* Navbar */

.mynavbar {
  background-color: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(2px);
}

.mynavbar .nav-link {
  text-transform: uppercase;
  font-size: 1rem;
}

.mynavbar .offcanvas {
  height: 100vh;
}

/* Home */
.home {
  /* background-image: url(../img/flora-pattern2.png);
  background-size: cover;
  min-height: 100vh; */
  margin-top: -3.5rem;
  padding-top: 7rem;
  padding-bottom: 15rem;
}

.home h2,
.story h2 {
  font-family: "Great Vibes", cursive;
  font-size: 5rem;
}

.home h3 {
  color: #444;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.home p {
  font-size: 1.1rem;
  color: #666;
}

.home .couple {
  margin-top: 100px;
}

.home .couple h3 {
  font-family: "Great Vibes", cursive;
  font-size: 2.4rem;
  font-weight: 800;
}

.home .couple img {
  width: 100%;
}

.home .heart {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(65px);
  display: flex;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.home .heart i {
  color: var(--pink);
  margin: auto;
}

/* Info */

.info {
  /* background-image: url(../img/flora-pattern2.png);
  background-size: cover;
  min-height: 100vh; */
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.info h2 {
  font-family: "Great Vibes", cursive;
  font-size: 5rem;
}

.info a {
  color: var(--pink);
  background-color: white;
  font-size: small;
}

.info a:hover {
  background-color: var(--pink);
  color: white;
  font-size: small;
}

.info .alamat {
  font-size: 1.1rem;
}

.info .descriptions {
  font-size: 1rem;
}

.info .card {
  background-color: rgba(255, 255, 255, 0.3);
}

.info .card .card-header {
  text-transform: uppercase;
}

/* Story */

.story {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.story span {
  display: block;
  margin-bottom: 1rem;
}

.story p {
  font-size: 1rem;
}

.timeline {
  list-style: none;
  padding: 1.4rem 0;
  margin-top: 1rem;
  position: relative;
}

.timeline::before {
  content: "";
  top: 0;
  bottom: 0;
  position: absolute;
  width: 1px;
  background-color: black;
  left: 50%;
}

.timeline li {
  margin-bottom: 1.5rem;
  position: relative;
}

.timeline li::before,
.timeline li::after {
  content: "";
  display: table;
}

.timeline li::after {
  clear: both;
}

.timeline li .timeline-image {
  width: 160px;
  height: 160px;
  background-size: cover;
  position: absolute;
  left: 50%;
  border-radius: 50%;
  border: 1px solid black;
  transform: translateX(-50%);
}

.timeline li .timeline-panel {
  width: 40%;
  float: left;
  border: 1px solid black;
  padding: 2rem;
  position: relative;
  border-radius: 8px;
  background-color: white;
}

.timeline li .timeline-panel::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border-top: 1px solid black;
  border-left: 1px solid transparent;
  border-right: 1px solid black;
  border-bottom: 1px solid transparent;
  right: -10px;
  top: 65px;
  transform: rotate(45deg);
}

.timeline li.timeline-inverted .timeline-panel {
  float: right;
}

.timeline li.timeline-inverted .timeline-panel::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border-top: 1px solid transparent;
  border-left: 1px solid black;
  border-right: 1px solid transparent;
  border-bottom: 1px solid black;
  left: -10px;
  top: 65px;
  /* transform: rotate(180deg); */
}

/* Media Query */

/* Extra large */
@media (max-width: 1200px) {
  .home .heart {
    transform: translateX(-50%) translateY(45px);
  }
}

/* Laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
  .home .heart {
    display: none;
  }
}
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }

  .mynavbar .nav-link {
    font-size: 0.5 rem;
    text-transform: uppercase;
    text-align: center;
  }

  .home .couple .female {
    margin-top: 20px;
  }
}
/* Mobile Phone */
@media (max-width: 576px) {
  html {
    font-size: 60%;
  }
}
